<div class="content-wrapper">
  <div *ngIf="notLoginPage">
    <app-communication-banner></app-communication-banner>
  </div>
  <mat-sidenav-container class="flex-row">
    <mat-sidenav mode="over" position="end" #sidenav class="gt-md:flex-33vw md:flex-50vw lt-md:flex-50vw lt-sm:flex-80vw"
                 >
      <app-global-search-sidenav #globalSearchSidenav [searchText]="searchText"
                                 (sidenav)="sidenav.toggle()"></app-global-search-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mat-sidenav-content flex-column flex-fill">
        <div class="flex-row">
          <mat-menu #navMenu="matMenu">
            <a routerLink="/dashboard" mat-menu-item id="navMenuDashboard">Dashboard</a>
            <button mat-menu-item [matMenuTriggerFor]="proceduresMenu" id="navMenuProcedures"
                    [disabled]="offlineService.offline">Procedures
            </button>
            <button mat-menu-item [matMenuTriggerFor]="runsMenu" id="navMenuRuns" [disabled]="offlineService.offline">
              Runs
            </button>
            <a mat-menu-item routerLink="programs" id="navMenuPrograms">Programs</a>
            <a mat-menu-item routerLink="profile" id="nav-menu-profile" [disabled]="offlineService.offline">Profile</a>
            <a mat-menu-item *ngIf="loginService.currentUser?.admin" routerLink="admin" id="navMenuAdmin">Admin</a>
            <a mat-menu-item routerLink="reporting" [disabled]="offlineService.offline" id="navMenuReporting">Reports &
              Export</a>
            <button mat-menu-item id="navMenuEmailSupport" (click)="emailEpicSupport()">Email EPIC Support</button>
            <a mat-menu-item href="https://aplwiki.jhuapl.edu/confluence/display/EPIC/User+Guides" target="_blank">EPIC
              User Guides</a>
            <a (click)="logout()" mat-menu-item id="nav-menu-logout">Logout</a>
            <div class="mat-body userInfoDiv">
              <div>Logged In As:</div>
              <div class="usernameDiv">{{ loginService.currentUser?.displayName }}</div>
            </div>
          </mat-menu>
          <mat-menu #proceduresMenu="matMenu">
            <button mat-menu-item (click)="openCreateProcDialog()" id="navMenuProceduresCreateProcedure">Create
              Procedure
            </button>
            <button mat-menu-item (click)="openCloneProcDialog()" id="navMenuProceduresCloneProcedure">Clone Procedure
            </button>
          </mat-menu>
          <mat-menu #runsMenu="matMenu">
            <button mat-menu-item (click)="openStartRunDialog()" id="navMenuRunsNewRun">Start New Run</button>
          </mat-menu>

          <mat-toolbar
            class="mat-elevation-z6 fixed-header no-print flex-row" color="primary" role="heading" id="header"
            *ngIf="notLoginPage!==false">
            <button id="main-menu-nav-button" mat-button [matMenuTriggerFor]="navMenu">
              <mat-icon>menu</mat-icon>
            </button>

            <span class="lt-md:hidden">EPIC</span>
            <span *ngIf="offlineService.offline" class="offline-indicator">
            <mat-icon [matTooltip]="offlineService.statusExplanation" matTooltipPosition="right">cloud_off</mat-icon>
          </span>
            <span class="truncated-text flex gt-sm:flex-row gt-sm:justify-end gt-sm:items-center gt-sm:content-center"
                  matTooltip="{{pageTitle}}">{{ pageTitle }}</span>

            <button mat-icon-button aria-lable="Search Icon" class="self-center" (click)="clickSidenav()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-toolbar>
        </div>

        <!--PAGES-->
        <div class="flex-100 flex-column">
          <router-outlet></router-outlet>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
