<h1 mat-dialog-title>
  Write a {{commentType | lineEditTypeText}} Line Comment
</h1>

<div mat-dialog-content>
  <app-red-black-line-comment #commentInput [disableForSaving]="disableForSaving" [comment]="comment" (commentChange)="onCommentChange($event)"></app-red-black-line-comment>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button id="clearLineEdit" mat-raised-button type="button" (click)="clearComment()">Clear Comment</button>
  <button id="cancelLineEdit" mat-raised-button type="button" matTooltip="Clicking this button will cancel your red line change." (click)="cancel()">Cancel</button>
  <button id="submitRedLine" mat-raised-button color="primary" type="button" (click)="submitLineEditComment()" [disabled]="!commentInput.isValid">Submit {{commentType | lineEditTypeText}} Line</button>
</div>