table.step-table,
.step-table th,
.step-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.step-table {
  background-color: white;
}

table.step-table tr:first-of-type {
  text-align: center;
  font-weight: bold;
}

td.editable {
  background-color: lightblue;
}

.equipment-table tr:not(:first-of-type) td {
  height: 50px;
  min-width: 100px;
}
