<div class="search-dialog-container" mat-dialog-content>
  <div *ngIf="!offlineService.offline; else unavailableOfflineMessageTemplate">
    <div *ngIf="isGlobalSearch" class="flex-row xs:flex-column">
      <div class="search-field flex-column">
        <mat-label id="editTypeSelectionLabel">Select whether to search procedures or runs:</mat-label>
        <mat-radio-group aria-labelledby="editTypeSelectionLabel" [(ngModel)]="editTypeSelection" (ngModelChange)="updateProcedureSearchResults()">
          <mat-radio-button value="ORIGINAL">Procedures</mat-radio-button>
          <mat-radio-button value="RUN">Runs</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!--  </mat-form-field>-->

    <!-- Input field for text search -->
    <mat-form-field class="search-field">
      <mat-label>Search by name, description, or ID</mat-label>
      <input [disabled]="loadingFilterData" id="searchByNameDescriptionOrID" matInput [(ngModel)]="searchText"
             (keyup)="updateProcedureSearchResults()"/>
    </mat-form-field>

    <!-- Drop-down filter for Program -->
    <mat-form-field class="search-field" *ngIf="!loadingFilterData; else fetchingDataPlaceholder" id="filterByProgram">
      <mat-label>Filter by program</mat-label>
      <mat-select [(ngModel)]="programSelection"
                  (ngModelChange)="updateProcedureSearchResults()" >
        <mat-option [value]="-1" id="filterByProgramOp0" > Select... </mat-option>
        <mat-option *ngFor="let program of data?.programs" [value]="program.pk">
          {{program.code}}: {{program.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Drop-down filter for Subsystem -->
    <mat-form-field class="search-field" *ngIf="!loadingFilterData; else fetchingDataPlaceholder" id="filterBySubsystem">
      <mat-label>Filter by subsystem</mat-label>
      <mat-select [(ngModel)]="subsystemSelection"
                  (ngModelChange)="updateProcedureSearchResults()">
        <mat-option [value]="-1" id="filterBySubsystemOp0" > Select... </mat-option>
        <mat-option *ngFor="let subsystem of data?.subsystems" [value]="subsystem.pk">
          {{subsystem.code}}: {{subsystem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Drop-down filter for Phase (Only if filtering by Run) -->
    <mat-form-field *ngIf="editTypeSelection === 'RUN'" class="search-field" id="filterByTestingPhase">
      <mat-label>Filter by testing phase</mat-label>
      <mat-select [(ngModel)]="testingPhaseSelection"
                  (ngModelChange)="updateProcedureSearchResults()">
        <mat-option [value]="-1" id="filterByTestingPhaseOp0"> Select... </mat-option>
        <mat-option *ngFor="let phase of data?.testingPhases" [value]="phase.pk">
          {{phase.code}}: {{phase.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template #fetchingDataPlaceholder>
    <div>Loading Selections...</div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

  <ng-template #unavailableOfflineMessageTemplate>
    <p>Search is unavailable while offline.</p>
  </ng-template>

  <div *ngIf="loadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <app-global-search-infinite-scroll
    [editType]="editTypeSelection"
    [numOfResults]="numberOfResults"
    [searchText]="searchText"
    [programSelection]="programSelection"
    [subsystemSelection]="subsystemSelection"
    [testingPhaseSelection]="testingPhaseSelection"
    [searchStatus]="searchStatusType"
    [startSearchEvent]="startSearchSubject.asObservable()"
    [results]="results" (selection)="onSelect($event)"
    [selector]="selector"
    [searchForLatestRevisions]="searchForLatestRevisions"
    [resultsFromParentLoaded]="!loadingResults"
  ></app-global-search-infinite-scroll>

</div>
