.hazard-icon {
  vertical-align: sub;
  background-image: url("~assets/icons/esd.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  align-self: center;
  margin-top: 8px;
}
